language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"
install:
  - pip install .
  - pip install flake8
  - git clone https://github.com/sstephenson/bats.git
script:
  - flake8 .
  - ./bats/bin/bats test_script.sh
